@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

#pokemon-image {
  image-rendering: pixelated;
  transition-duration: 100ms;
}

#pokemon-card:hover {
  border: solid #ededed 2px;
}

#pokemon-card:hover #pokemon-image {
  transform: scale(1.15);
}

.slide-in {
  animation: slideIn ease-in-out 0.35s;
  animation-fill-mode: forwards;
}

#pokemon-info {
  border-radius: 20px;
  box-shadow: #ededed 0 10px 10px;
  padding: 15px;
  background-color: white;
  width: 320px;
  position: relative;
  margin: 10px;
  height: 82vh;
  right: calc(10vw - 20px);
  padding: 0 15px;
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*Search*/
#search-bar-container {
  width: 90%;
  margin: 3rem auto -5rem auto;
  z-index: 0;
  grid-column: 1 / 7;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: white;
  box-shadow: #d4d4d4 5px 5px 15px;
}

#search-input {
  width: 100%;
  border-radius: 10px;
  padding: 0.8rem;
}
